<div class="flex w-full mb-1 bg-surface-2 border border-border rounded-lg overflow-hidden shadow-elev-1 shrink-0">
    <div class="flex items-center justify-center w-10 bg-success-bg text-success font-data font-bold text-lg shrink-0">
        V
    </div>

    <div class="flex-1 p-3 flex flex-col justify-center">

        <div class="flex justify-between items-start mb-1">
        <h3 class="font-semibold text-sm leading-tight">
            vs. Mono-Green Devotion
        </h3>
        <span class="text-foreground-subtle font-data text-xs shrink-0 ml-2">
            Há 2h
        </span>
        </div>

        <p class="text-foreground-muted text-xs">
        Usando: Izzet Phoenix | Pioneer
        </p>

    </div>
</div>
